@{
    ViewData["Title"] = "Home Page";
}

<section>
   <h2>
        Vitejte v PojisteniApp
    </h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
@*                <img src="~/car.jpg" class="card-img-top" alt="...">
*@                <div class="card-body" style="position:center">
                    <a asp-controller="Customers" asp-action="Index">Pojištěncí</a>                    <br />

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
@*                <img src="~/flat.jpg" class="card-img-top" alt="...">
*@                <div class="card-body">
                    <a asp-controller="Insurances" asp-action="Index">Pojištění</a>
                    <br />

                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
@*                <img src="..." class="card-img-top" alt="...">
*@                <div class="card-body">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <p class="card-text">This is a short card.his is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>
                </div>
            </div>
        </div>


</section>



