@model FinalProjectInsurance_TG.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Editovat</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col">
                    <label asp-for="Jmeno" class="control-label">Jméno</label>
                    <input asp-for="Jmeno" class="form-control" />
                    <span asp-validation-for="Jmeno" class="text-danger"></span>
                </div>
                <br />

                <div class="col">
                    <label asp-for="Prijmeni" class="control-label">Přjmení</label>
                    <input asp-for="Prijmeni" class="form-control" />
                    <span asp-validation-for="Prijmeni" class="text-danger"></span>
                </div>
            </div> <br />

            <div class="row">
                <div class="col">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />

                <div class="col">
                    <label asp-for="Telefon" class="control-label">Telefon</label>
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col">
                    <label asp-for="Ulice" class="control-label">Ulice a číslo popisné</label>
                    <input asp-for="Ulice" class="form-control" />
                    <span asp-validation-for="Ulice" class="text-danger"></span>
                </div>
                <br />
                <div class="col">
                    <label asp-for="Mesto" class="control-label">Město</label>
                    <input asp-for="Mesto" class="form-control" />
                    <span asp-validation-for="Mesto" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <label asp-for="PSC" class="control-label">PSČ</label>
                    <input asp-for="PSC" class="form-control" />
                    <span asp-validation-for="PSC" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Ulozit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div class="inner">
    <p class="tlacitko-odstavec">
        <a asp-action="Index" class="reference-tlacitko3">Zpět</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
